*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

html,body{
   background-color: #caa5da5d;
}

.navbar{
    width: 100%;
    height: 8vh;
    background-color: rgb(4, 4, 59);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0.7vw 10vw;
    /* position: fixed; */
    top: 0;
    z-index: 100;

}

.navbar .search a h2{
    font-size: 2vw;
    font-weight: 800;
    text-transform: uppercase;
    color: white;

}

.navbar .search{
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 0px 20px;
    
}
.navbar .search .search-box{
    margin-left: 20px;
    position: relative;
   
}
.navbar .search .search-box input{
   
    width: 400px;
    height: 40px;
    border-radius: 10px;
    padding: 0px 10px;
    font-size: 0.8vw;
}

.navbar .search .search-box i{
    position: absolute;
    align-items: center;
    margin: 10px -40px;
    filter: invert(1);
    font-size: 1vw;
    font-weight: 300;
     border: none;


}


.navbar .signin{
 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    

}

.navbar .signin i{
    font-size:1.5vw;
    padding-right: 10px;

    
}

.signin .signin-box h5{
    font-size: 0.5vw;
    color: gray;

}

.signin .signin-box a{
    color: white;
    font-size: 0.5vw;
    cursor: pointer;
}

.signin .signin-box a:hover{
    color: gray;
}

.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   
    
}

.cart:hover{
 background-color: rgba(168, 169, 172, 0.192);
    padding: 10px 5px;
    border-radius: 10px;
}

.cart i{
    font-size: 1.5vw;
    padding-right: 10px;

}

.cart2 h5{
    font-size: 0.5vw;
    color: gray;

}

.cart2 a{
    font-size: 0.5vw;
    color: white;

}.cart2 a:hover{
    color: gray;
}


.navbar-part2{
    width: 100%;
    height: 4vh;
    background-color: rgb(4, 4, 59);
    color: white;
    
    
    
    
    
    
}

.navbar-part2 .boxes{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0vw 16.8vw;

}

.navbar-part2 .boxes .catagory-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 150px;
    height: 20px;
    background-color: #9EBAF2;
    padding: 15px 15px;
    
    border-radius: 10px;
  
}

.catagory-box i{
    font-size: 0.8vw;
    padding-right: 5px;
    filter: invert();
}

.catagory-box h2{
    font-size: 0.7vw;
    color: black;
}

.boxlast{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    
    
}

.boxlast .box2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 20px;
    background-color: #DF3F2A;
    border-radius: 10px;
    padding: 13px 14px;
    margin-right: 10px;
}

.boxlast .box2 i{
    font-size: 0.8vw;
    padding-right: 5px;
}
.boxlast .box2 h2{
    font-size: 0.8vw;
  
}

.boxlast .box3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 20px;
    background-color: #DF3F2A;
    border-radius: 10px;
    padding: 13px 14px;
}

.boxlast .box3 i{
    font-size: 0.8vw;
    padding-right: 5px;
}
.boxlast .box3 h2{
    font-size: 0.6vw;
    
  
}

.page1{
    width: 70%;
    height: 50vh;
    position: relative;
    margin-left: 16.5vw;
    
}

.page1 .images img{
    width: 100%;
    height: 100%;
    object-fit: cover cover;
    position: absolute;
    transition: all ease 0.5s;
    cursor: pointer;
   

}
.page1 .images .images2 img{
    opacity: 0;
}
.page1 .images:hover .images2 img{
    opacity: 1;
    transform: translate(0.5);
}

.page1 .page1-left{
    width: 15%;
    height: 100%;
    position: absolute;
    background-color: rgb(4, 4, 59);
    padding: 10px 10px;
}

.page1-left .div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;

}
.page1-left .div a{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: white;
    font-size: 1vw;
    
}
.page1-left .div a h5{
    padding-left: 5px;
    font-weight: 300;
}
.page1-left .div a:hover{
    color: gray;
}
.page1-left .div i{
   color: white;
}

.page2{
    width: 70%;
    height: 4vh;
    background-color: rgb(255, 255, 255);
   margin: 0.4vw 16.5vw;
   position: relative;
}


.movingdiv{
    position: absolute;
    bottom: 8%;
    overflow: hidden;

}
.page2 .movingdiv h3{
    font-size: 1vw;
    font-weight: 200;
    padding-left: 54vw;
    text-align: center;
    display: inline-block;
    animation-name: moving;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
    
}

@keyframes moving {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

.div-left{
    height: 100%;
    width: 20%;
    /* background-color: red; */
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right,  rgb(255, 255, 255),transparent);
}
.div-right{
    height: 100%;
    width: 20%;
    /* background-color: red; */
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to right, transparent, rgb(255, 255, 255));
}

.page3{
    width: 70%;
    height: 30vh;
    /* background-color: red; */
    margin: 0vw 16.5vw;
    position: relative;
}

.page3 .page3-top{
    width: 100%;
    height: 6vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7px;
    
}

.page3-top h3{
    font-size: 1.5vw;
    font-weight: 600;

}

.page3-top p{
    font-size: 1vw;
    font-weight: 400;
    /* text-transform: uppercase; */

}

.page3-down{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 100px;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
}

.page3-down .page3-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 140px;
    margin: 0px 10px;


}
.page3-div:hover{
    background-color: rgb(148, 145, 145);
    cursor: pointer;
    border-radius: 10px;
}
.page3-div img{
    width: 130px;
    height: 70px;
    object-fit: cover;

}

.page3-div p{
    text-align: center;
    padding-top: 15px;

}

.page4{
    width: 70%;
    height: 50vh;
    /* background-color: red; */
    margin: -1vw 16.5vw;

}

.page4-up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6vh;
    background-color: rgb(255, 255, 255);
    /* padding: 10px; */
    position: relative;
    margin-top: 20px;
}

.page4-up h3{
    font-size: 1.3vw;
}
.page4-up p{
    font-size: 0.9vw;
}
.page4-down{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    position: absolute;
    width: 70%;

}

.page4-down .page4-div{
    padding: 15px 15px;
    margin: 10px 10px;
    background-color: #ffffff;
    width: 20%;
    height: 400px;
   
    border-radius: 10px;
    /* display: inline-block;
    animation-name:divmove;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    
    animation-timing-function: ease;
    
    cursor: pointer; */
    transform: translateX(0%);
    cursor: pointer;
   
   

}

/* @keyframes divmove {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-570%);
    }
} */
.page4-div .images img{
    width: 170px;
    height: 190px;
    object-fit:center cover;
    position: relative;
    border-bottom: 1px solid #dadada;
    margin-left: 40px;
}

.page4-div .images :nth-child(2){
    position: absolute;
    left: 0;
    opacity: 0;
    
}
.page4-div:hover .images :nth-child(2){
    opacity: 1;
}
.page4-div .images h3{
    position: absolute;
    width: 110px;
    height: 24px;
    background-color: blue;
    color: white;
    text-align: center;
    border-radius: 10px;
    margin: -195px -8px;
    font-weight: 400;
    z-index: 10;
    

}
.page4-div .images h4{
    position: absolute;
  
    background-color: blue;
    color: white;
    text-align: center;
    border-radius: 10px;
    margin: -115px 65px;
    font-size: 0.7vw;
    text-align: center;
    padding:5px 5px ;
    transition: all ease 0.5s;
    
    opacity: 0;font-weight: 400;
  
}

.page4-div .images h4:hover{
    background-color: rgb(255, 123, 0);
}

.page4-div:hover .images h4{
    opacity: 1;
  
}

.page4-div .p4-box{
    width: 100%;
    padding-top: 20px;
}
.p4-box p{
    font-size: 0.9vw;
    text-align: center;

}

.p4-box .price {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;


}

.p4-box .price h4{
    padding-right: 10px;
    font-size: 1vw;
}
.p4-box .price h5{
    padding-right: 10px;
    font-size: 1vw;
    text-decoration: line-through;
    font-weight: 400;
}


.page5{
    width: 70%;
    min-height: 50vh;
    /* background-color: red; */
    position: relative;
    margin: 0.5vw 16.5vw;
}

.page5 .page5-up{
    width: 100%;
    height: 6vh;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 6vw;
}

.page5 .page5-down{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 10px;
    
  
   
}

.page5-down .page5-box{
    display: flex;
    width: 470px;
    gap: 0.4vw;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin-right: 20px;
   cursor: pointer;
    
}

.page5-box img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.page5-box .p5-box-div p{
    font-size: 0.9vw;
    line-height: 20px;
}

.p5-box-div .p5-price{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.p5-price h4{
    font-size: 1.2vw;
    padding-right: 10px;
    color: orangered;
}

.p5-price h4:nth-child(2){
    font-weight: 300;
    color: black;
    font-size: 1vw;
    text-decoration: line-through;
}

.page5-box:hover .p5-price h4{
    font-size: 1.4vw;
}


.products-section{
    width: 70%;
    min-height: 100vh;
    /* background-color: red; */
    position: relative;
    margin: 1vw 16.5vw;

}

.container h2{
    font-size: 1.3vw;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1vw 0.5vw;
    padding-bottom: 3vw;
    /* background-color: green; */

}

#productsContainer{
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    position: relative;
    /* background-color: white; */
    flex-wrap: wrap;
    
    
    

}

.cards{
    background-color: white;
    margin-right: 2vw;
    padding: 1vw 1vw;
    border-radius: 10px;
    width: 15vw;
    margin-bottom: 2vw;
    box-shadow: 0px 0px 20px rgb(78, 78, 78);
}

.catagoryname {
    background-color: rgba(230, 146, 68, 0.281);
    padding: 0.2vw 1vw;
    font-size: 0.6vw;
    font-weight: 300;
    border-radius: 50px;
    border: none;



}

.imageContainer{
    padding: 0.8vw 0vw;
}

.productName{
    font-size: 1.2vw;
    font-weight: 600;

}

.productRating{
    color: rgb(245, 222, 19);
    padding-top: 5px;
    
}

.productDescription{
    font-size: 0.8vw;
    padding-top: 5px;
    font-weight: 500;
}

.productPrice{
    display: flex;
    justify-content: flex-start;
    justify-content: flex-start;
    padding-top: 10px;
    font-size: 1vw;
    font-weight: 700;
    

}
.offerPrice{
    padding-right: 15px;
}
.realPrice{
    text-decoration: line-through;
    font-weight: 300;
}

.productStock{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
    font-size: 0.9vw;

}

.stockAmount{
    font-size: 1vw;
    padding-left: 4px;
    font-weight: 700;

}

.productQuantity{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 12px;
    font-size: 0.9vw;
    padding-bottom: 12px;
   
}

.quantitySelection{
    display: flex;
    padding: 0px 10px;
    font-size: 1vw;
    font-weight: 600;
    border: 1px solid #dadada;
   margin-left: 10px;
   /* justify-content: center;
   align-items: center; */

  
}
.cartIncrement{
    padding: 2px 10px;
    font-size: 0.8vw;
    font-weight: 600;
    background: transparent;
    border: none;
    border-right: 1px solid #dadada;
    
    
    
}
.cartIncrement:hover{
    cursor: pointer;
}
.cartSecrement{
    padding: 2px 10px;
    font-size: 0.9vw;
    font-weight: 600;
    background: transparent;
    border: none;
    border-left: 1px solid #dadada;
    

}
.cartSecrement:hover{
    cursor: pointer;
}
.quantityValue{
    padding: 2px 15px;
    font-size: 0.8vw;
   text-align: center;
    background: transparent;
    border: none;
    
}

.addTocart{
    border: none;
    background-color: black;
    color: white;
    padding: 5px 19px;
    font-size: 0.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    
}
.addTocart i{
    padding-right: 9px;
    font-size: 1vw;
  

}

.addTocart:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}

.linkpage{
    color: black;
}

.toast{
    opacity: 0;
    color: white;
    background-color: rgb(39, 39, 39);
    width: 20rem;
    text-align: center;
    font-size: 0.8vw;
    padding: 10px 10px;
    border-radius: 10px;
    position: fixed;
    top: 4.2rem;
    right: 1.4rem;
    /* margin-top: -59vw; */
    z-index: 2000;
    animation-name: toastAnimation;
    animation-duration: 3s;
    animation-timing-function: linear;
    -webkit-animation:toastAnimation 2s linear ;


}

@keyframes toastAnimation {
    
    0%{
        transform: translateX(100%);
        opacity: 0;
    }
    20%{
        transform: translateX(0%);
        opacity: 1;
    }
    100%{
        transform: translateX(0);
        opacity: 0;
    }
}

/* .toast .show{
    opacity: 1;
} */


.Information{
  
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3vw;
  width: 64rem;
  /* padding: 3vw 3vw; */
  border: 1px solid #dadada;
  background-color: #fff;
    border-radius: 10px;
   
}
.showCartes{
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 2vw 16.5vw;

    
    
    
}
/* #cartTemplate{
    display: flex;
} */

.quantityBox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #dadada;
   
    font-size: 0.9vw;
    margin-right: 1vw;
    

}


.increment{
    padding: 5px 12px;
    font-size: 0.8vw;
    font-weight: 600;
    background: transparent;
    border: none;
    border-right: 1px solid #dadada;
    
    
    
}
.increment:hover{
    cursor: pointer;
    background-color: #a19c9c;
}
.decrement{
    padding: 3.8px 12px;
    font-size: 0.9vw;
    font-weight: 600;
    background: white;
    border: none;
    border-left: 1px solid #dadada;
    

}
.decrement:hover{
    cursor: pointer;
    background-color: #a19c9c;
}
.quantityValues{
    padding: 5px 15px;
    font-size: 0.8vw;
    font-weight: 600;
    text-align: center;
    background: white;
    border: none;
    width: 3rem;
    
}

.catagory{
    background-color: rgba(230, 146, 68, 0.281);
    padding: 0.2vw 1vw;
    font-size: 0.6vw;
    font-weight: 300;
    border-radius: 50px;
    border: none;
    margin-left: 1vw;

}

.imageBox img{
    width: 100px;
    object-fit: cover;

}

.productNames {
    font-size: 1vw;
        font-weight: 600;
        margin-right: 5vw;
        margin-left: -2vw;
}

.productPrice{
    font-weight: 300;
    width: 5rem;

}

.removeCart{
    border: none;
    background-color: black;
    color: white;
    padding: 5px 60px;
    font-size: 0.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.removeCart:hover{
    background-color: rgb(48, 47, 47);
    cursor: pointer;
}

.priceBox{
    background-color: white;
    width: 20%;
    height: 13rem;
    margin-left: 55vw;
}

.priceBox> p{
    font-size: 1.2vw;
    padding: 10px 6px;
    font-weight: 600;

}

.priceBox div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 6px;
}

.priceBox div>p{
    width: 4rem;
    margin-right: 5rem;
    font-size: 1.1vw;
}

